<div class="embed-button-wrapper">
  <%= link_to user_omniauth_authorize_path(:venmo), class:"embed-button blue" do %>
    <span class="logo"></span>
    <span class="label">Login with Venmo</span>
  </div>
<% end %>
