<h2>Transactions</h2>

<table class="table table-striped">
  <th>Name</th>
  <th>Date</th>
  <th>Amount</th>
  <% @transactions.each do |t| %>
    <tr>
      <td><%= t["name"] %></td>
      <td><%= t["date"] %></td>
      <td><%= t["amount"] %></td>
    </tr>
  <% end %>
</table>
