<ol>
  <% @top_five.each do |cat| %>
    <li> <%= link_to "#{cat.name} - #{cat.transactions.count}",
                    {controller: 'reports', action: 'graph', cat_id: cat.id }  %> </li>
  <% end %>
</ol>
